* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

header {
    width: 100%;
    height: 87px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.97);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

header nav {
    display: flex;
    justify-content: space-around;
    gap: 250px;

}

header a {
    text-decoration: none;
    color: black;
}

header nav .div1 {
    width: 640px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .div2 {
    width: 260px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav .div2 div img {
    width: 50px;
    height: 45px;
    border-radius: 50%;

}

header nav .div1 .b {
    display: flex;
    gap: 40px;
}

header nav .div2 div {
    display: flex;
    align-items: center;
}
/* =====main-1====== */
/* ================= */
.main-1 {
    width: 1232px;
    height: 17px;

    margin: auto;
    margin-top: 50px;
}

.main-1 span {
    color: red;

}
/* ======frame===== */
/* ================ */
.frame {
    width: 1280px;
    height: 1126px;
    border: 1px solid black;
    margin: auto;
    margin-top: 20px;

}
/* ====frame1=== */
.frame1 {
    width: 790px;
    height: 1126px;
    border: 1px solid red;

}
.frame1 .flight-card {
    width: 790px;
    height: 349px;
    border: 1px solid black;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.frame1 .flight-card .product-card {
    width: 742px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.frame1 .flight-card .product-card div span {
    font-size: 35px;
    font-weight: 900;
    color: #FF8682;
}
.frame1 .flight-card .product-card div p {
    font-size: 25px;
    font-weight: 900;
}
/* ========return====== */
.flight-card .return {
    width: 742px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flight-card .return div p {
    font-weight: 700;
}
.flight-card .return div span {
    color: gray;
    font-size: 20px;
}
/* ======emirates==== */
.emirates {
    width: 742px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.emirates .emirates1 {
    width: 742px;
    height: 86px;
    display: flex;
    justify-content: space-between;
}
.emirates .emirates1 .bir {
    width: 262px;
    height: 86px;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.emirates .emirates1 .bir .img1 {
    width: 64px;
    height: 44px;
}
.emirates .emirates1 .bir .img1 img {
    width: 64px;
    height: 44px;
}
.emirates .emirates1 .bir .text {
    width: 110px;
    height: 54px;
}
.emirates .emirates1 .bir .text p {
   font-weight: 900;
   font-size: 25px;

}
.emirates .emirates1 .bir .text small {
    color: gray;
}
/* =====ikki==== */
.emirates .emirates1 .ikki {
    width: 360px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.emirates .emirates1 .ikki .ciziq {
    width: 0.5px;
    height: 48px;
    border-right: 1px solid #D7E2EE;
}
/* ======emirates2======= */
.emirates2 {
    width: 742px;
    height: 48px;
     display: flex;
    justify-content: space-between;
    align-items: center;
}


.emirates2 div i {
    font-size: 25px;
}

.emirates2 div small {
    color: gray;
    font-size: 20px;
}

.emirates2 div span {
    font-size: 25px;
    font-weight: 900;
}
/* =========payment-option====== */
/* ============================= */
.payment-option {
    width: 790px;
    height: 242px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    padding: 17px;
}
.payment-option .pay {
    width: 758px;
    height: 80px;
    border-radius: 12px;
    background-color: #8DD3BB;
    padding: 15px;
}
.payment-option .pay .h5 {
    width: 219px;
    height: 45px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.payment-option .pay .h5 h5 {
    font-size: 20px;
}
.payment-option .pay .h5 p {
    color: #112211;
}