* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

header {
    width: 100%;
    height: 87px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.97);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

header nav {
    display: flex;
    justify-content: space-around;
    gap: 250px;

}

header a {
    text-decoration: none;
    color: black;
}

header nav .div1 {
    width: 640px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .div2 {
    width: 260px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav .div2 div img {
    width: 50px;
    height: 45px;
    border-radius: 50%;

}

header nav .div1 .b {
    display: flex;
    gap: 40px;
}

header nav .div2 div {
    display: flex;
    align-items: center;
}

/* =====main-1====== */
/* ================= */
.main-1 {
    width: 1232px;
    height: 17px;

    margin: auto;
    margin-top: 50px;
}

.main-1 span {
    color: red;

}

/* ======frame===== */
/* ================ */
.frame {
    width: 1280px;
    height: 1126px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

}

/* ====frame1=== */
.frame1 {
    width: 790px;
    height: 1126px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.frame1 .flight-card {
    width: 790px;
    height: 349px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.frame1 .flight-card .product-card {
    width: 742px;
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame1 .flight-card .product-card div span {
    font-size: 35px;
    font-weight: 900;
    color: #FF8682;
}

.frame1 .flight-card .product-card div p {
    font-size: 25px;
    font-weight: 900;
}

/* ========return====== */
.flight-card .return {
    width: 742px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flight-card .return div p {
    font-weight: 700;
}

.flight-card .return div span {
    color: gray;
    font-size: 20px;
}

/* ======emirates==== */
.emirates {
    width: 742px;
    height: 174px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.emirates .emirates1 {
    width: 742px;
    height: 86px;
    display: flex;
    justify-content: space-between;
}

.emirates .emirates1 .bir {
    width: 262px;
    height: 86px;
    padding: 20px;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.emirates .emirates1 .bir .img1 {
    width: 64px;
    height: 44px;
}

.emirates .emirates1 .bir .img1 img {
    width: 64px;
    height: 44px;
}

.emirates .emirates1 .bir .text {
    width: 110px;
    height: 54px;
}

.emirates .emirates1 .bir .text p {
    font-weight: 900;
    font-size: 25px;

}

.emirates .emirates1 .bir .text small {
    color: gray;
}

/* =====ikki==== */
.emirates .emirates1 .ikki {
    width: 360px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.emirates .emirates1 .ikki .ciziq {
    width: 0.5px;
    height: 48px;
    border-right: 1px solid #D7E2EE;
}

/* ======emirates2======= */
.emirates2 {
    width: 742px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.emirates2 div i {
    font-size: 25px;
}

.emirates2 div small {
    color: gray;
    font-size: 20px;
}

.emirates2 div span {
    font-size: 25px;
    font-weight: 900;
}

/* =========payment-option====== */
/* ============================= */
.payment-option {
    width: 790px;
    height: 242px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.payment-option .pay {
    width: 758px;
    height: 80px;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pay:hover {
    background-color: #8DD3BB;
}

.payment-option .pay .h5 {
    width: 219px;
    height: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.payment-option .pay .h5 h5 {
    font-size: 20px;
}

.payment-option .pay .h5 p {
    color: #112211;
}

.payment-option .pay .input {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment-option .pay .input input {
    width: 20px;
    height: 20px;
}

/* ========pay-part */
.pay-part {
    width: 758px;
    height: 114px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pay-part .h3 {
    width: 632px;
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pay-part .h3 a {
    color: black;
}

.pay-part .h3 p {
    color: #112211;
}

.pay-part .h3 h3 {
    font-size: 25px;
}

.pay-part .input {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pay-part .input input {
    width: 20px;
    height: 20px;
}

/* ==========logn========= */
/* ======================= */
.login {
    width: 790px;
    height: 455px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login .login1 {
    width: 742px;
    height: 211px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.login .login1 h4 {
    font-size: 35px;
}

.login .login1 input {
    width: 742px;
    height: 56px;
    font-size: 20px;
    padding: 20px;
}

.login .login1 p {
    color: #112211;
    font-size: 15px;
}

.login .login1 button {
    width: 742px;
    height: 48px;
    font-size: 20px;
    background-color: #8DD3BB;
    border: none;
    border-radius: 4px;
    color: black;
}

/* =======login2==== */
.login .login2 {
    width: 742px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.login .login2 .chiziq {
    width: 350px;
    height: 0;
    border: 0.5px solid gray;
}

/* =======login3==== */
.login .login3 {
    width: 742px;
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login .login3 .bir {
    width: 742px;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.login .login3 .bir div {
    width: 236px;
    height: 56px;
    border: 1px solid #8DD3BB;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.login .login3 .ikki {
    width: 742px;
    height: 56px;
    border: 1px solid #8DD3BB;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.login .login3 .ikki i {
    margin-right: 10px;
}

/* =======frame2======= */
/* ==================== */
.frame .frame2 {
    width: 450px;
    height: 469px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frame .frame2 .economy {
    width: 367px;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.frame .frame2 .economy .img {
    width: 120px;
    height: 120px;
}

.frame .frame2 .economy .img img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
}

.frame .frame2 .economy .teks {
    width: 223px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}

.frame2 .economy .teks div p {
    color: gray;
    font-size: 18px;
}

.frame2 .economy .teks div h4 {
    font-size: 20px;
}

.frame2 .economy .teks div button {
    width: 40px;
    height: 32px;
    border: 1px solid #8DD3BB;
    border-radius: 8px;
    margin-right: 10px;
}

.frame2 .chiziq {
    width: 402px;
    height: 0.5px;
    border: 0.5px solid gray;
}

/* =========your=== */
.frame2 .your {
    width: 296px;
    height: 20px;
    display: flex;
    align-items: center;
}

.frame2 .your p {
    font-size: 20px;
}

/* ==========Details======= */
.frame .frame2 .details {
    width: 402px;
    height: 164px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.frame2 .details .p p {
    font-size: 25px;
    font-weight: 700;
}

.frame2 .details div {
    width: 402px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.frame2 .details div p {
    color: #112211;
    font-size: 20px;
}

.frame2 .details div span {
    font-weight: 800;
    font-size: 20px;
}

/* =========total==== */
.frame2 .total {
    width: 402px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.frame2 .total p {
    font-size: 20px;
    color: #112211;
}

.frame2 .total span {
    font-size: 20px;
    font-weight: 800;
}

/* =======footer==== */
/* ================= */
footer {
    width: 100%;
    height: 400px;
    background-color: aqua;
    margin-top: 200px;
    display: flex;
    flex-direction: column;

}

footer .box5 {
    width: 1232px;
    height: 305px;
    margin: auto;
    border-radius: 20px;
    padding-left: 15px;
    background-color: #CDEAE1;
    display: flex;
    justify-content: space-between;
    transform: translateY(-100px);


}

footer .box5 .div {
    width: 593px;
    height: 305px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

footer .box5 .div .h6 {
    width: 364px;
    height: 108px;
    font-size: 60px;
}

footer .box5 .div p {
    color: gray;
    font-weight: 900;
}

footer .box5 .div small {
    color: gray;
}

footer .box5 .button input {
    width: 473px;
    height: 56px;
    padding-left: 20px;
    border-radius: 4px;
    border: none;
}   

footer .box5 .button button {
    width: 104px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: snow;
}

footer .box5 .img {
    width: 400px;
    height: 305px;
}

footer .box5 .img img {
    width: 400px;
    height: 305px;
}

/* =====footre======== */
/* =================== */

footer .box6 {
    width: 1232px;
    height: 140px;
    margin: auto;
    display: flex;
    margin-top: 250px;
    justify-content: space-around;
    transform: translateY(-300px);


}

footer .box6 .div1 {
    width: 175px;
    height: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .box6 div small {
    display: block;
    color: grey;
}