* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 1s;
}

header {
    width: 100%;
    height: 87px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.97);
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-around;
}

header nav {
    display: flex;
    justify-content: space-around;
    gap: 250px;

}

header a {
    text-decoration: none;
    color: black;
}

header nav .div1 {
    width: 640px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav .div2 {
    width: 260px;
    height: 45px;
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav .div2 div img {
    width: 50px;
    height: 45px;
    border-radius: 50%;

}

header nav .div1 .b {
    display: flex;
    gap: 40px;
}

header nav .div2 div {
    display: flex;
    align-items: center;
}

/* =======main-1===== */
/* ================== */
.main-1 {
    width: 1232px;
    height: 17px;

    margin: auto;
    margin-top: 50px;
}

.main-1 span {
    color: red;

}
/* =========emirates==== */
/* ===================== */
.emirates {
    width: 1232px;
    height: 104px;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.emirates .emirates1 {
    width: 360px;
    height: 104px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.emirates .emirates1 div button {
    width: 40px;
    height: 32px;
    background-color: white;
    border: 1px solid aqua;
    border-radius: 4px;
}
.emirates .emirates2 {
    width: 276px;
    height: 103px;
    display: flex;
    align-items: end;
    flex-direction: column;
    justify-content: space-between;
}
.emirates .emirates2 p {
    font-size: 40px;
    font-weight: 900;
    color: red;
}
.emirates .emirates2 div {
    width: 276px;
    height: 48px;
    display: flex;
    justify-content: space-between;
    
}
.emirates2 div i {
    width: 48px;
    height: 48px;
    border: 1px solid aqua;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.emirates2 div button {
    width: 150px;
    height: 48px;
    background-color: #8DD3BB;
    border-radius: 4px;
    border: none;
}
/* =======img======= */
/* ================= */
.img {
    width: 1232px;
    height: 395px;
    margin: auto;
    margin-top: 50px;
}
.img img {
    width: 1232px;
    height: 395px;
    border-radius: 12px;
}
/* =========main-2======= */
/* ====================== */
.main-2 {
    width: 1232px;
    height: 970px;
    border: 1px solid red;
    margin: auto;
    margin-top: 50px;
}
.main-2 .basic {
    width: 1232px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-2 .basic .economy {
    width: 380px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* ====rasmlar== */
.rasmlar {
    width: 1232px;
    height: 120px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.rasmlar img {
    width: 120px;
    height: 120px;
    border-radius: 12px;
}
/* =====  airlines===*/
.airlines {
    width: 1232px;
    height: 102px;
    background-color: #8DD3BB99;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin-top: 30px;

}
.airlines .bir h4 {
    font-size: 25px;
    margin-left: 7px;
}
.airlines .soat {
    width: 1200px;
    height: 24px;
    margin: auto;
    display: flex;
    gap: 50px;
}
/* ====return=== */
.return {
    width: 1232px;
    height: 287px;
    border: 1px solid red;
    padding: 22px;

}
.return .wed {
    width: 1184px;
    height: 25px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.return .wed div p {
    font-size: 20px;
    font-weight: 700;
}
.return .wed div span {
    color: gray;
    font-size: 20px;
}
/* ====airbus===== */
.airbus {
    width: 1200px;
    height: 86px;
    border: 1px solid red;

}
.airbus .birnchi {
    width: 262px;
    height: 86px;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.airbus .birnchi .img {
    width: 64px;
    height: 44px;
}
.airbus .birnchi .img img {
    width: 64px;
    height: 44px;
}