* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* transition: 0.7; */
}

.navbar {
    width: 100%;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255, 0.97);
}

.navbar nav {
    width: 731px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: black;
}


.navbar .div1 {
    display: flex;
    gap: 30px;
}

.navbar nav .g {
    font-size: 20px;
    font-weight: 900;
}

.navbar .div2 {
    width: 177px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.navbar .div2 .sign {
    width: 104px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: snow;
    border-radius: 8px;
}

/* =======main-1========= */
/* ====================== */
.main-1 {
    width: 1380px;
    height: 581px;
    margin: auto;
    margin-top: 25px;
}

.main-1 {
    background-image: url(../img/kema.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 24px;
    display: flex;
    align-items: center;

}

.main-1 .teks {
    width: 753px;
    height: 202px;
    margin: auto;
    text-align: center;
    color: snow;

}

.main-1 .teks h3 {
    font-size: 50px;
}

.main-1 .teks h1 {
    width: 753px;
    height: 101px;
    font-size: 100px;
    margin-bottom: 15px;
}

/* ==========main-2========= */
/* ========================= */
.main-2 {
    width: 1232px;
    height: 280px;
    border-radius: 20px;
    box-shadow: 0 2px 0px 1px rgba(0, 0, 0, 0.1);
    margin: auto;
    background-color: snow;
    padding: 20px;
    position: relative;
    bottom: 140px;

}

.main-2 fieldset {
    width: 300px;
    height: 50px;
    padding-left: 10px;
}

.main-2 .box {
    width: 1184px;
    height: 152px;
    margin: auto;
}

.main-2 .box .i {
    width: 229px;
    height: 48px;
    display: flex;
    gap: 20px;
}

.main-2 .fieldset {
    width: 1184px;
    height: 56px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.main-2 .fieldset small {
    color: gray;
    margin-right: 120px;
}

.main-2 legend {
    color: gray;
    font-weight: 800;
}

.main-2 .pastki {
    width: 1168px;
    height: 48px;
    display: flex;
    margin-top: 50px;
    justify-content: end;
    gap: 20px;
    align-items: center;
}

.main-2 .pastki .span {
    width: 142px;
    height: 48px;
    display: flex;
    align-items: center;
}

.main-2 .pastki .button button {
    border: none;
    width: 144px;
    height: 48px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ============main-3========== */
/* ============================ */
.main-3 {
    width: 1232px;
    height: 542px;
    margin: auto;

}

.main-3 .text {
    width: 1232px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}

.main-3 .text .h2 h2 {
    margin-bottom: 10px;
    font-size: 30px;
}

.main-3 .text .h2 small {
    color: grey;
}

.main-3 .text .p span {
    width: 149px;
    height: 40px;
    border: 1px solid aqua;
    padding: 7px 7px;
}

.main-3 .box1 {
    width: 1232px;
    height: 430px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main-3 .box1 .bir {
    width: 1232px;
    height: 122px;
    display: flex;
    justify-content: space-around;
}

.main-3 .box1 .katta {
    width: 389px;
    height: 122px;
    border-radius: 16px;
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-shadow: 2px;
    box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.main-3 .box1 .katta .img {
    width: 90px;
    height: 90px;

}

.main-3 .box1 .katta .img img {
    width: 90px;
    height: 90px;
    border-radius: 8px;

}

.main-3 .box1 .katta .yozu {
    width: 251px;
    height: 45px;

}

.katta .yozu small {
    color: gray;
    font-weight: 800;
}

.katta .yozu p {
    margin-top: 10px;
}

/* ========main-4======== */
/* ====================== */
.main-4 {
    width: 1232px;
    height: 599px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.main-4 .box2 {
    width: 604px;
    height: 599px;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2),
            rgb(0, 0, 0, 0.2)), url(../img/samalot.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 20px;

}

.main-4 .box2 div {
    width: 389px;
    height: 163px;
    text-align: center;
    margin-top: 390px;
    color: snow;
}

.main-4 .box2 div button {
    width: 144px;
    height: 48px;
    background-color: aquamarine;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.main-4 .box2 div h4 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* ======box3======= */
/* ================= */
.main-4 .box3 {
    width: 604px;
    height: 599px;
    background-image: linear-gradient(rgb(0, 0, 0, 0.2),
            rgb(0, 0, 0, 0.2)), url(../img/hotel.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 20px;

}

.main-4 .box3 div {
    width: 389px;
    height: 163px;
    text-align: center;
    margin-top: 390px;
    color: snow;
}

.main-4 .box3 div button {
    width: 144px;
    height: 48px;
    background-color: aquamarine;
    border-radius: 4px;
    border: none;
    margin-top: 10px;
}

.main-4 .box3 div h4 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* ==========main-5====== */
/* ====================== */
.main-5 {
    width: 1396px;
    height: 722px;
    margin: auto;
    margin-top: 70px;
}

.main-5 .tecs {
    width: 1396px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-5 .tecs h5 {
    font-size: 35px;
    margin-bottom: 10px;
}

.main-5 .tecs button {
    width: 80px;
    height: 40px;
    border: 1px solid aqua;
    background-color: snow;
}

.main-5 .tecs small {
    color: gray;
    font-weight: 700;
}

/* =============== */
.main-5 .kattadiv {
    width: 1396px;
    height: 610px;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
}

.main-5 .box4 {
    width: 425px;
    height: 584px;
    border-radius: 20px;
    box-shadow: 20px 20px rgb(146, 245, 245);
    padding: 24px;
    border: 1px solid gray;
}

.main-5 .box4 .birinchi {
    width: 377px;
    height: 163px;
}

.main-5 .box4 .birinchi small {
    color: gray;
}

.main-5 .box4 .birinchi p {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
}

.main-5 .box4 .birinchi div {
    width: 372px;
    height: 18px;
    margin-top: 20px;
    display: flex;
    justify-content: end;
}

/* ========ikkinchi====== */
/* ====================== */
.main-5 .ikkinchi {
    width: 377px;
    height: 117px;
    margin-top: 20px;
}

.main-5 .ikkinchi i {
    color: rgb(255, 234, 0);
    font-size: 20px;
}

.main-5 .ikkinchi p {
    margin-top: 20px;
}

.main-5 .ikkinchi .p div {
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 5px;
}

.main-5 .ikkinchi .p div i {
    color: red;
}

.main-5 .ikkinchi small {
    color: grey;
}

.main-5 .img {
    width: 377px;
    height: 200px;
    margin-top: 30px;
}

.main-5 .img img {
    width: 377px;
    height: 200px;
    border-radius: 8px;
}

/* ========footer======= */
/* ===================== */
footer {
    width: 100%;
    height: 400px;
    background-color: aqua;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    /* transform: translateY(-200px); */

}

footer .box5 {
    width: 1232px;
    height: 305px;
    margin: auto;
    border-radius: 20px;
    padding-left: 15px;
    background-color: #CDEAE1;
    display: flex;
    justify-content: space-between;
    transform: translateY(-100px);


}

footer .box5 .div {
    width: 593px;
    height: 305px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

footer .box5 .div .h6 {
    width: 364px;
    height: 108px;
    font-size: 60px;
}

footer .box5 .div p {
    color: gray;
    font-weight: 900;
}

footer .box5 .div small {
    color: gray;
}

footer .box5 .button input {
    width: 473px;
    height: 56px;
    padding-left: 20px;
    border-radius: 4px;
    border: none;
}

footer .box5 .button button {
    width: 104px;
    height: 56px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: snow;
}

footer .box5 .img {
    width: 400px;
    height: 305px;
}

footer .box5 .img img {
    width: 400px;
    height: 305px;
}

/* =====footre======== */
/* =================== */

footer .box6 {
    width: 1232px;
    height: 140px;
    margin: auto;
    display: flex;
    margin-top: 250px;
    justify-content: space-around;
    transform: translateY(-300px);


}

footer .box6 .div1 {
    width: 175px;
    height: 140px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer .box6 div small {
    display: block;
    color: grey;
}